<%- include("../includes/head") %> <%- include("../includes/nav") %>

<div class="conatiner">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estao abaixo</p>
      <%- include("../includes/mensagens"); %> <% if(contacts.length > 0 ){ %>
      <div class="responsive-table">
        <table class="table my-3">
          <% contacts.forEach(contact =>{ %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.secondName %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td>
              <a href="/contacts/<%= contact._id %>">Editar</a>
            </td>
            <td>
              <a class="text-danger" href="/contacts/delete/<%= contact._id  %>"
                >Excluir</a
              >
            </td>
            <% }) %>
          </tr>
        </table>
        <% }else { %>
        <strong>Nao possui contatos na sua agenda</strong>
        <% } %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <%- include("../includes/footer") %>
</div>
